{% extends "auctions/layout.html" %}

<!-- Variables:
    message - if applicable for errors
    newlisting - t/f - false for updatelisting
    id - only if updating listing
    title
    description
    tags - list[str]
    imgurl
-->

{% block body %}
    <h2>Create Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    {% if newlisting %}
    <form action="{% url 'createlisting' %}" method="post">
    {% else %}
    <form action="{% url 'updatelisting' %}" method="post">
    {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
    <button class="btn btn-primary" type="submit" name="id" value="{{ id }}">Submit</button>
{% endblock %}