{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if tag %}
        <a href="{% url 'index' %}">&#60;back</a>
        <button class="btn btn-dark" type="button">{{ tag }}</button>
    {% else %}
        {% for t in tags %}
        <a href="{% url 'index' %}?tag={{t.keyword}}"><button class="btn btn-light" type="submit">{{ t.keyword }}</button></a>
        {% endfor %}
    {% endif %}

    {% for listing in listings %}
    <a href="{% url 'viewlisting' %}?id={{ listing.id }}" class="links">
    <h4>{{ listing.title }}</h4>
    <img src="{{ listing.imgurl }}" class="img-thumb" alt="No image provided">
    <p>{{ listing.description }}</p>
    {% if listing.winningbid is None %}
        <div><b>Starting Bid: ${{ listing.dollars }}</b></div>
    {% else %}
        <div><b>Current Bid: ${{ listing.dollars }}</b></div>
    {% endif %}
    <hr>
    </a>
    {% endfor %}

{% endblock %}