{% extends 'auctions/user/layout.html' %}

<!-- Variables:
    user_listings: List[obj]
 -->
{% block userbody %}
{% for listing in user_listings %}
<a href="" class="links">
<h4>{{ listing.title }}</h4>
<img src="{{ listing.imgurl }}" class="img-thumb" alt="No image provided">
<p>{{ listing.description }}</p>
</a>
{% if listing.sold %}
<b>Sold for ${{ listing.price }}</b>
{% else %}
<div><b>Current Bid: ${{ listing.price }}</b></div>
<div class="container">
    <div class="row">
        <div class="col">
            <form action="{% url 'listing_operations' %}?id={{ listing.id }}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ listing.id }}">
                <button class="btn btn-success nav-item" name="oper" value="accept">Accept Bid</button>
            </form>    
        </div>
        <div class="col">
            <form action="{% url 'listing_operations' %}?id={{ listing.id }}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ listing.id }}">
                <button class="btn btn-secondary nav-item" name="oper" value="edit">Edit Listing</button>
            </form>    
        </div>
        <div class="col">
            <form action="{% url 'listing_operations' %}?id={{ listing.id }}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ listing.id }}">
                <button class="btn btn-danger nav-item" name="oper" value="delete">Remove Listing</button>
            </form>    
        </div>
    </div>    
</div>
{% endif %}
<hr>
{% endfor %}
{% endblock %}
